.fullscreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
.fullscreen-video {
  width: 100%;
  height: auto;
}
}

@media (max-aspect-ratio: 16/9) {
.fullscreen-video {
  width: auto;
  height: 100%;
}
}

.LogoTuBotica{
  display: block;
  margin-top: 10%;
  margin-left: 40%;
  width: 20%;
}

#dropdownMenuButton{
width: 13%;
display: block;
margin: auto;

}

.navbar{
  opacity: 1;
}

/* #NavMenu{
  color: gray;
} */

.btn{
  opacity: 0.9;
}

#dropmenudearriba{
  background: gray;
  opacity:0.6;
}

#dropmenudeabajo{
  background: gray;
  opacity:0.8;
}

